.me {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.title{
    font-family: "Raleway", sans-serif;
}

.subtitle {
    letter-spacing: 10px;
}

#me {
    height: 95vh;
}

.text.about {
    text-indent: 50px;
    text-align: justify;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}